<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentListener" />
	</listeners>

	<test name="Up Footer">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="tests.MainRunner"></class>
		</classes>
	</test>

</suite> 
